*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 히든 컴포넌트 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: gray;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: white;
  position: relative;
  border-radius: 0 0 10px 10px;
}
/* 메뉴 바 */
.logo {
  margin: 0;
  position: absolute;
  top: 52px;
  left: 65px;
}
.menu-service {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 35px;
  display: flex;
  justify-content: flex-end;
}
.menu-service a {
  padding: 8px;
}
.menu-service li {
  margin-top: 8px;
}
.menu-service li:nth-child(n + 2)::before {
  content: ":";
}
.navigation {
  padding: 0 35px;
  padding-bottom: 35px;
}
.menu {
  padding-left: 250px;
  display: flex;
  height: 45px;
  background-color: orange;
  border-top: 2px solid black;
}

.menu-list {
  list-style: none;
}
.menu-button {
  cursor: pointer;
  border: 0;
  border-left: 1px solid #fff;
  height: 100%;
  line-height: 45px;
  color: #fff;
  background-color: orange;
  font-weight: 500;
  font-size: 19px;
  padding: 0 8px;
}
/* 메뉴 동작 효과 */
.is-active .menu-button {
  color: yellow;
}
.is-active .menu-button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
}

.menu-sub {
  list-style: none;
  padding: 0;
  display: none;
}
.menu-sub li {
  display: inline-block;
  margin: 8px;
}
.menu-sub li :hover {
  color: red;
}
.is-active .menu-sub {
  display: flex;
  position: absolute;
}
.visual {
  background-color: lightcoral;
}
.main {
  background-color: lightseagreen;
  height: 100vh;
  display: flex;
}
.group {
  flex-grow: 1;
  flex-shrink: 1;
}
.group1 {
  background-color: moccasin;
}

/* 로그인 */
.login {
  background-color: orange;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 gray;
  width: 250px;
  padding: 15px;
}
.login-heading {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: yellow;
}
.login-form {
  width: 230px;
  border: 0;
  padding: 5px;
  position: relative;
  font-size: 14px;
  background-color: white;
  border-radius: 5px 5px 0 0;
}
.login fieldset {
  border: 0;
  padding: 0;
}

.user-email label {
  margin-right: 14px;
}
.login input {
  width: 100px;
  margin-right: 5px;
}
.user-password {
  margin-top: 5px;
}
.button-login {
  width: 50px;
  height: 50px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 7px;
  height: 45px;
  font-size: 12px;
}
.login-form::after {
  content: "";
  display: block;
  height: 0.5px;
  background-color: black;
  margin-top: 10px;
}
.sign {
  width: 230px;
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
}
.group2 {
  width: 380px;
  background-color: olivedrab;
}
.group3 {
  width: 190px;
  background-color: palegreen;
}
.slogan {
  background-color: maroon;
}
.footer {
  background-color: mediumpurple;
}
